body{
    margin: 0px;
    background-color: #333;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

.img{
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 150px;
    
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#but{
    position: fixed;
    top:0px;
    background-color: #434347;
    width: 100%;
    height: 200px;
    z-index: 10;
    margin-top: 0px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    position: relative;
    top:20px;
}
.cox{
    width:1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    border-radius: 10px;
    margin-top:10px;
}
.cox:hover{
    background-color: #1e1e21;
}
#img{
    width:300px;
    position: relative;
    top:40px;
    opacity: 0.1;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: rotation 2s infinite linear;
}
h1{
    color: #adabab;
    text-align: center;
    font-size: 70px;
}
#in{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    position: relative;
    top:30px;
}
.cont{
    color:white;
}
#search{
    width:500px;
    height: 50px;
    font-size: 30px;
    background-color: #292929;
    color:white;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: white;
}
#go{
    background-color: #292929;
    height: 50px;
    border-width: thin;
    border-style: solid;
    border-color: white white white transparent;
}
#content{
    display: block;
    position: relative;
    z-index: 1;
    top: 200px;
    width: 100%;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}
p a{
    color: #9b9b9b;
}
@media (max-width: 600px){
    #content{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cox{
        width:350px;
        display: block;
        margin-left: auto;
        padding:0px;
        margin-right: auto;
        background-color: #1e1e21;
    }
    h1{
        position: relative;
        top:30px;
    }
    #in{
        position: relative;
        top:30px;
        margin-left: auto;
        margin-right: auto;
        width:250px;
    }
    #search{
        width:200px;
        height: 40px;
    }
    #go{
        height: 40px;
    }
    h1{
        font-size: 40px;
    }
    #but{
        position: fixed;
    }
}